<!DOCTYPE html>
<html ng-app="rebrews">
<head>
    <base href="/">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Ho.mebre.ws</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Ho.mebre.ws</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/discover">Discover</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/dashboard">Dashboard</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/account/register">Register</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/account/login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content" ui-view="main">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Homebrews</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
